/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Zing Rust";
  src: url("./../fonts/ZingRustDemo-Base.woff") format("woff"), /* Modern Browsers */
  url("./../fonts/ZingRustDemo-Base.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
